<!DOCTYPE html>
<html>

<head>
    <title>KalaKriti</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script>
if(localStorage.getItem("isLoggedIn") === "true"){
    window.location.href = "dashboard.html";
}
</script>
</head>

<body>

<header>
    <h1>KalaKriti</h1>

    <nav>
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="sell.html">Sell Product</a>
        <a href="login.html">Login</a>
        <a href="signup.html">Signup</a>
    </nav>

</header>



<section class="hero">

<div class="hero-text">

<h2>Support Handmade Creators</h2>

<p>Discover unique handmade products crafted by talented creators.</p>

<a href="shop.html">
<button>Shop Now</button>
</a>

</div>

</section>

<section>

<h2>Featured Products</h2>

<div class="product-grid">

<div class="product-card">
<img src="../static/images/bag.jpg" alt="Crochet Bag" width="200">
<h3>Crochet Bag</h3>
<p>Price: ₹450</p>
<button onclick="addToCart()">View Product</button>
</div>

<div class="product-card">
<img src="../static/images/jewellery.jpg" alt="Handmade Jewellery" width="200">
<h3>Handmade Jewellery</h3>
<p>Price: ₹300</p>
<button onclick="addToCart()">View Product</button>
</div>

<div class="product-card">
<img src="../static/images/sweater.jpg" alt="Knitted Sweater" width="200">
<h3>Knitted Sweater</h3>
<p>Price: ₹900</p>
<button onclick="addToCart()">View Product</button>
</div>

</div>

</section>

<section>

<h2>Categories</h2>

<div class="categories">

<div class="category-card">
<h3>Crochet</h3>
</div>

<div class="category-card">
<h3>Handmade Jewellery</h3>
</div>

<div class="category-card">
<h3>Art & Craft</h3>
</div>

<div class="category-card">
<h3>Homemade Food</h3>
</div>

<div class="category-card">
<h3>Knitted Items</h3>
</div>

</div>

</section>
<footer>
    <p>© 2026 Inclusive Handmade Marketplace</p>
</footer>
<script>
if(localStorage.getItem("isLoggedIn") === "true"){
    document.querySelector('a[href="login.html"]').style.display = "none";
    document.querySelector('a[href="signup.html"]').style.display = "none";
}
</script>
</body>
<script src="../static/js/script.js"></script>
</html>