<!DOCTYPE html>
<html>

<head>
<title>Login</title>
<link rel="stylesheet" href="../static/css/style.css">

<!---- already logged in → dashboard -->
<script>
if(localStorage.getItem("isLoggedIn") === "true"){
  window.location.href = "dashboard.html";
}
</script>
</head>

<body class="login-body">

<div class="login-container">

<div class="login-image">
<img src="../static/images/login-art.png">
</div>

<div class="login-form">

<h2>Login</h2>
<form onsubmit="handleLogin(event)">

<input type="email" placeholder="Email">

<input type="password" placeholder="Password">

<button type="submit">Login</button>
</form>

<div class="login-links">

<a href="signup.html">Create an account</a>

<a href="forgot-password.html">Forgot password?</a>

</div>

</div>

</div>
<script>
function handleLogin(event){
  event.preventDefault();  // page reload rokta hai

  // login success (frontend)
  localStorage.setItem("isLoggedIn", "true");

  // redirect to dashboard
  window.location.href = "dashboard.html";
}
</script>
<script src="../static/js/script.js"></script>
</body>

</html>